.task {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: start;
    justify-content: start;
    --width-task: 0px;
    user-select: none;
    touch-action: pan-y;
    transition: all .4s;

}

.task img {
    pointer-events: none;
}

.slide1,
.slide2 {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.task {
    transform: translate3d(var(--width-task), 0px, 0px);
}

/* reverse */
.task.reverse {

    animation: reverseTask .4s both;
    /* transform: translate3d(0px, 0px, 0px); */
    flex-direction: row-reverse;

}

@keyframes reverseTask {
    0% {
        transform: translate3d(var(--width-task), 0px, 0px);


    }

    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}