/* ==============TASK============== */
.wrapper {
    height: 100%;
    width: 100%;
    background: var(--color-blue);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.wrapper>* {
    z-index: 2;
}

.wrapper::after {
    content: url("../../assets/GroundUp-LOGO.svg");
    position: absolute;
    top: -20px;
    right: -95px;
    z-index: 1;
    opacity: .2;

}


.points {
    color: var(--color-green);
    font-family: Noto Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 99%;
    letter-spacing: 0%;
    text-align: left;
    justify-self: start;
    align-self: start;
    position: absolute;
    top: 25px;
    left: 25px;
}

.task {
    width: 100%;
    margin-top: -40px;
    height: 510px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
}

.answers {
    flex-grow: 0;
    flex-shrink: 0;
}


.character {
    display: flex;
    align-items: center;
    justify-content: center;
}

.character img {
    width: 114px;
    z-index: 2;

}

.question {
    margin: 14px 25px 0px;
    padding: 18px 10px;
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 2;
}

.question::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 8px;
    top: -8px;
    left: calc(40% - 5px);
    clip-path: polygon(62% 0, 100% 0, 100% 100%, 0% 100%);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}


.text {
    color: rgb(255, 255, 255);
    font-family: Gotham Pro;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}

.textSmall {
    font-size: 16px;
}

.answers {
    position: relative;
    height: 208px;
    cursor: grab;
    user-select: none;
}

.answer {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 25px 0px 0px;
    position: absolute;

}


.answer__left {
    left: -43%;
    top: 25px;
    z-index: 3;
    background: transparent;
    padding-right: 40px;

}

.answer__left::before {
    content: "";
    position: absolute;
    background: rgb(234, 239, 247);
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 84% 100%, 0% 100%);
}

.answer__left::after {
    content: "";
    position: absolute;
    background: white;
    left: 0px;
    top: 5px;
    z-index: -1;
    width: calc(100% - 5px);
    height: calc(100% - 10px);
    clip-path: polygon(0 0, 100% 0, 84% 100%, 0% 100%);
}

.answer__right {
    top: 0px;
    background: rgb(234, 239, 247);
    left: 20%;
    clip-path: polygon(16% 0, 100% 0, 100% 100%, 0 100%);
    align-items: start;
    justify-content: end;
    width: 110%;

}

.answer__text {
    color: var(--color-darkBlue);
    font-family: Gotham Pro;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
}

.answer__left .answer__text {
    position: absolute;
    left: calc(43% + 16px);
    bottom: 25px;
}

.answer__right .answer__text {
    position: absolute;
    right: calc(27% + 16px);
    text-align: right;
}

.arrows {

    padding: 65px 25px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}

.arrow {
    cursor: pointer;
}

.arrow__right {
    transform: rotate(180deg);
}

.answer.check {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .1s ease-in, opacity .1s;
    padding-top: 0;

}

.answer.check .answer__text {
    margin: 0;
    text-align: center;
    font-size: 18px;
    position: static;
}

.answer__right.check {
    /* right: 0; */
    left: -35px;


    padding-left: calc(10% + 25px);
    padding-right: 25px;
}

.answer__left.check {
    left: 0px;
    /* width: 100%;
    padding-left: 25px;
    padding-right: 35px; */

}

.answer__right.noCheck,
.answer__left.noCheck {
    opacity: 0;
    transition: all .1s ease-in, opacity .3s;
}

.arrows.none {
    opacity: 0;
}


.answers.animation .answer__left {
    animation: left .8s ease-in-out;

}

.answers.animation .answer__right {
    animation: right .8s ease-in-out .8s;

}

@keyframes left {
    0% {
        left: -43%;
    }

    50% {
        left: -25%;
    }

    100% {
        left: -43%;
    }

}

@keyframes right {
    0% {
        left: 20%;
        z-index: 99;
    }

    50% {
        left: 10%;
    }

    100% {
        left: 20%;
        z-index: 0;
    }

}