* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100%;

  flex: 1 0 auto;
  width: 100%;
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  .container {
    height: 95vh;
    border-radius: 20px;
    max-width: 600px;
    border: 5px solid var(--color-darkBlue);
  }
}

.btn {
  display: flex;
  align-items: end;
  color: var(--color-white);
  text-align: center;
  background: var(--color-darkBlue);
  width: 164px;
  outline: none;
  border: none;
  font-family: Gotham Pro;
  font-size: 18px;
  font-weight: 500;
  line-height: 17px;
  cursor: pointer;

}


/* ========screen15======= */