* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(./assets/bg-screen14.svg) url(./assets/GroundUp-LOGO.svg) url(./assets/GroundUp-LOGO2.svg) url(./assets/GroundUp-LOGO3.png);
}


#root {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(234, 239, 247);
}

.container {
  height: 100%;

  flex: 1 0 auto;
  width: 100%;
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  .container {
    height: 95vh;
    border-radius: 20px;
    max-width: 600px;
    border: 5px solid var(--color-darkBlue);
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  text-align: center;
  background: var(--color-darkBlue);
  width: 164px;
  outline: none;
  border: none;
  font-family: Gotham Pro;
  font-size: 18px;
  font-weight: 500;
  line-height: 17px;
  cursor: pointer;

}


/* ========screen15======= */