@import url("./fonts/stylesheet.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,700&display=swap');

:root {
  font-family: Gotham Pro, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  --color-lightBlue: #1F9BDA;
  --color-darkBlue: #053579;
  --color-blue: #0056D1;
  --color-white: #fff;
  --color-black: #000;
  --color-green: rgb(137, 198, 66);

}